@using Applications.IntegranTI.com.Properties

<div class="form-group row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-10">
        <input type="submit" name="ButtonSave" value="@Resources.ButtonSave" class="btn btn-outline-success" />
        <input type="submit" name="ButtonList" value="@Resources.ButtonReturn" class="btn btn-default btn-outline-dark" formnovalidate="formnovalidate" />
    </div>
</div>
